{
    "extends": "airbnb",
    "rules": {
        "comma-dangle": "off",
        "import/prefer-default-export": "off",
        "import/no-named-as-default": "off",
        "import/extensions": "off",
        "react/jsx-filename-extension": "off",
        "react/prefer-stateless-function": "off",
        "import/no-unresolved": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/require-default-props": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    },
    "env": {
        "mocha": true,
        "jasmine": true,
        "browser": true
    },
    "globals": {
        "document": false
    }
}